<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>
</head>
<body class="container">

	<header>
		<% include ../partials/header %>
	</header>
<center>
	<main>
		<div class="row">
			<div class="col-sm-8">
			
				<div class="jumbotron">
                    <h1>About</h1>
                    <p><strong>WishList</strong> is an online register for all your needs!!!</p>
                    <p>Create, Save, Modify and Share your personal WishList.</p>
					<p>We're here to help you make those hard, painful, excruciating decision easy.</p>
				</div>
				
			
	</main>
</center>
	<footer>
		<% include ../partials/footer %>
	</footer>
	
</body>
</html>