<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>
</head>
<body class="container">

	<header>
		<% include ../partials/header %>
	</header>

	<main>
		<div class="row">
			<div class="col-sm-8">
			
				<div class="jumbotron">
					<h1>Add Item to Your List</h1>
					<p></p>
				</div>
				

			</div>

			<div class="col-sm-4">
				
				<div class="well">
					<!-- <ul><a href="/">Wishlist</a></ul> -->
					<!-- <ul><a href="/new">Add a new item to the item list</a></ul> -->
				

					<form method="POST" action="/create_wishlist">
					    <ul><input type="text" size="38" name="item_name" placeholder="Add your item"></ul>
					    <!-- <ul><input type="text" size="38" name="user_id" placeholder="Add your id"></ul> -->
						<ul> <select name="item_category" width="38" type="text" >
                                <option value="Technology">Technology</option>
                                <option value="Hardware">Hardware</option>
                                <option value="Outdoors">Outdoors</option>
                                <option value="Homegoods">Homegoods</option>
                                <option value="Sports">Sports </option>
                                <option value="Clothes">Clothes</option>
                                <option value="Other">Other</option>
                            </select></ul>
					    <ul><input type="text" size="38" name="picture_url" placeholder="picture_url"></ul>
					    <ul><input type="text" size="38" name="item_url" placeholder="item"></ul>
					    <ul><input type="text" size="38" name="price" placeholder="price"></ul>
					    <!-- Line 21: "name" is from the Categories table  -->

						<center><button type="submit" class="btn btn-info">submit</button></center>
					</form>
					<br>
					<center>
					<button type="submit" class="btn btn-info"><a href="/user_wishlist"> View Your Wishlist </a> </button>
					</center>
				</div>

			</div>
		</div>
	</main>

	<footer>
		<% include ../partials/footer %>
	</footer>
	
</body>
</html>