<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>
</head>
<body class="container">
	<center>
	<header>
		<!-- <% include ../partials/header %> -->
	</header>

	<main>
		<div class="jumbotron">
			<h1>Welcome to WishList</h1> <br>
			<h3>What would you like to do today?</h3>
			<br>		
				 <button type="button" class="btn btn-info" id="index"><a href="/signup">Create WishList</a></button>
				 <button type="button" class="btn btn-info" id="index"><a href="/login">Log In</a></button>
				 <button type="button" class="btn btn-info" id="index"><a href="/find_wishlist">Find WishList</a></button>
				
		</div>


	</main>

	<footer>
		<% include ../partials/footer %>
	</footer>
    </center>
</body>
</html>