<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="assets/css/bootstrap.css">

		<!-- Website CSS style -->
		<link rel="stylesheet" type="text/css" href="assets/css/main.css">

		<!-- Website Font style -->
	    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
		
		<!-- Google Fonts -->
		<link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>
</head>
<body class="container">

	<header>
		<% include ../partials/header %>
	</header>

	<main>
		<div class="row">
			<div class="col-sm-8">
			
				<div class="jumbotron">
                    <!-- <form> -->
                        <div class="container">
                            <div class="row main">
                                <div class="panel-heading">
                                <div class="panel-title text-center">
                                        <h1 class="title">Create a Wish List</h1>
                                        <hr />
                                    </div>
                                </div> 
                                <div class="main-login main-center">


                    
                                    <form class="form-horizontal" method="POST" action="/new_user">
                                        
                                        <div class="form-group">
                                            <label for="name" class="cols-sm-2 control-label">Your Name</label>
                                            <div class="cols-sm-10">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                                                    <input type="text" class="form-control" name="name" id="name"  placeholder="Enter your Name"/>
                                                </div>
                                            </div>
                                        </div>
                
                                        <div class="form-group">
                                            <label for="email" class="cols-sm-2 control-label">Your Email</label>
                                            <div class="cols-sm-10">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                                                    <input type="text" class="form-control" name="email" id="email"  placeholder="Enter your Email"/>
                                                </div>
                                            </div>
                                        </div>
                
                                        <div class="form-group">
                                            <label for="username" class="cols-sm-2 control-label">Birthday</label>
                                            <div class="cols-sm-10">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>

                                                    <input type="text" class="form-control" name="birthday" id="birthday"  placeholder="Enter your Birthday"/>

                                                </div>
                                            </div>
                                        </div>
                
                                

                                        <div class="form-group">
                                            <label for="location" class="cols-sm-2 control-label">Location</label>
                                            <div class="cols-sm-10">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="fa fa-home fa-lg" aria-hidden="true"></i></span>
                                                    <input type="text" class="form-control" name="location" id="location"  placeholder="Enter your City"/>
                                                </div>
                                            </div>

                                        </div>



                                        </div> 
                

                                        <div class="form-group ">
                                            <button type="submit" class="btn btn-primary btn-lg btn-block login-button">Register</button>
                                        </div>
                                    </form>
                                        <div class="login-register">
                                            <button type="submit" class="btn btn-success"><a href="/login">Login</a></button>
                                        </div>
                                    
                                </div>
                            </div>
                        </div>
                    <!-- </form> -->
				</div>
				
			</div>
			
		</div>
	</main>

	<footer>
		<% include ../partials/footer %>
	</footer>
	
</body>
</html>