                       
                       
                       
                       <% for(var i=0; i< results2.length; i++) { %>
							<tr>
							  <td><%= results2[i] %></td>
							</tr>
                         <% } %>
                         



                         <p><%= list %></p>



                         <p><h2>Welcome to <%= user %>'s Wishlist</h1></p>